/* General styles */

html {
	font-size:100%;
}

body	{
	background: #FFF url(tiger_skin_images/bg_body.gif) repeat-y -30px;
	color: #333;
	margin: 0;
	font-size: 0.85em;
	line-height:1.3;
	text-align:left;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana !important;
}

/* Layout */ 
#container {
	margin: 0;
	padding: 0;
	margin-bottom: 2em;
}

#header {
	font-size:96%;
	height:23px;
	color:#FFF;
	font-weight:bold;
	line-height:1;
	text-shadow: 0px 1px 1px black;
	margin:0;
	width:100%;
	background:#666 url(tiger_skin_images/bg_header.jpg) repeat-x;
	border-bottom:1px solid #999;
	padding:0;
	
	position:fixed;
	z-index:98;
	top:0;
	left:0;
}

#header h1 {

	font-size: 100%;
	font-weight: bold;
	text-align:left;
	color:#FFF;
	margin:0 7px;
	padding:0;
	line-height:23px;
}

#menucontainer {
	float: left;
	margin: 0;
}

#wrapper {
	margin-left: 140px;
	margin-top: 23px;
}

#innercontent {
	padding: 1em;
}

/*  FOOTER STYLES  */
#footer
{
	clear: both;
	background:#E0E0E0 url(../images/logo_small.png) 10px 4px no-repeat;

	position: fixed;
	bottom:0;
	left:0;
	margin: 0;
	border-top:1px solid #999;
	height:35px;
	padding:0px 3%;
	width:94%;
	text-align:right;	
	line-height:30px;
	z-index:99;
	font-size:10px;
	color:#666;
}

#footer br { display:none; }

#footer p { margin:0; padding:0; display:inline; width:100%; }

#footer:after {
	content:"Design by Steve Smith at http://www.orderedlist.com/";
}

#footer a { color:#666; }

#footer #mangolink {
	position:absolute;
	display:block;
	top:0;
	left:0;
	width:135px;
	height: 35px;
}

#mangolink span {
	display:none;
}

#footer .footer_version{
	position:absolute;
	left: 140px;
	top: 7px;
}


/* Menus */
#adminmenu {
	position:fixed;
	left:0;
	top: 24px;
	width: 140px;
	margin: 0;
	padding: 0 10px 0 0;
	background: none;
	border: none;
	list-style-type:none;
}

#adminmenu li {
	margin:0;
	padding:0;
	text-align:left;
}

#adminmenu li a {
	display:block;
	line-height:28px;
	width:90px;
	font-size:100%;
	border:none;
	color:#333;
	padding:0 10px 0 30px;
	text-decoration:none;
}

#adminmenu li a:hover,  #adminmenu li.last a:hover {
	background-color:#DDD !important;
	border:none;
}

#adminmenu li a.current { color:#FFF; border:none; font-weight:normal; }

#overviewMenuItem a { background:transparent url(tiger_skin_images/menu_dashboard_off.png) no-repeat !important; }
#overviewMenuItem a.current { background:transparent url(tiger_skin_images/menu_dashboard_on.png) no-repeat !important; }

#postsMenuItem a { background:transparent url(tiger_skin_images/menu_write_off.png) no-repeat !important; }
#postsMenuItem a.current { background:transparent url(tiger_skin_images/menu_write_on.png) no-repeat !important; }

#pagesMenuItem a { background:transparent url(tiger_skin_images/menu_manage_off.png) no-repeat !important; }
#pagesMenuItem a.current { background:transparent url(tiger_skin_images/menu_manage_on.png) no-repeat !important; }

#linksMenuItem a { background:transparent url(tiger_skin_images/menu_links_off.png) no-repeat !important; }
#linksMenuItem a.current { background:transparent url(tiger_skin_images/menu_links_on.png) no-repeat !important; }

#categoriesMenuItem a { background:transparent url(tiger_skin_images/menu_categories_off.png) no-repeat !important; }
#categoriesMenuItem a.current { background:transparent url(tiger_skin_images/menu_categories_on.png) no-repeat !important; }


#pluginsMenuItem a { background:transparent url(tiger_skin_images/menu_plugins_off.png) no-repeat !important; }
#pluginsMenuItem a.current { background:transparent url(tiger_skin_images/menu_plugins_on.png) no-repeat !important; }

#authorsMenuItem a { background:transparent url(tiger_skin_images/menu_users_off.png) no-repeat !important; }
#authorsMenuItem a.current { background:transparent url(tiger_skin_images/menu_users_on.png) no-repeat !important; }

#settingsMenuItem a { background:transparent url(tiger_skin_images/menu_options_off.png) no-repeat !important; }
#settingsMenuItem a.current { background:transparent url(tiger_skin_images/menu_options_on.png) no-repeat !important; }

#filesMenuItem a { background:transparent url(tiger_skin_images/menu_upload_off.png) no-repeat !important; }
#filesMenuItem a.current { background:transparent url(tiger_skin_images/menu_upload_on.png) no-repeat !important; }


#cacheMenuItem a { background:transparent url(tiger_skin_images/menu_cache_off.png) no-repeat !important; }
#cacheMenuItem a.current { background:transparent url(tiger_skin_images/menu_cache_on.png) no-repeat !important; }

.menuItem a { background:transparent url(tiger_skin_images/menu_general_off.png) no-repeat !important; }
.menuItem a.current { background:transparent url(tiger_skin_images/menu_general_on.png) no-repeat !important; }

#logoutMenuItem a { background:transparent url(tiger_skin_images/menu_logout_off.png) no-repeat !important; }


/*  SECONDARY NAVIGATION STYLES  */

#submenu, .submenu {
	margin:0;
	background:#E0E0E0;
	border-bottom:1px solid #999;
	padding:0;
	list-style-type:none;
	z-index:1;
}

#submenu li, .submenu li {
	margin:0;
	padding:0;
	line-height:29px;
	display:inline;
}

#submenu li a, .submenu li a {
	display:inline;
	line-height:29px;
	color:#666;
	padding:0 10px;
	font-size:96%;
	text-decoration:none;
	white-space:nowrap;
	
	/*font-weight: bold;*/
}

#submenu li a:hover, .submenu li a:hover {
	color:#333;
	background:none;
}

#submenu li a:hover, .submenu li a:hover {
	background:none;
}

#submenu li a.current, .submenu li a.current {
	color:#005BD5;
	background:none;
	border:none;
}


/* Special links and buttons */
#viewsitelink a {
	position: absolute;
	top:3px;
	right:5px;
	display:block;
	text-indent:-9000px;
	width:100px;
	height:17px;
	background:transparent url(tiger_skin_images/button_view_the_site.gif) no-repeat;
	z-index:101;
}


#logout a {
	position: absolute;
	top:3px;
	right:110px;
	display:block;
	text-indent:-9000px;
	width:67px;
	height:17px;
	background:transparent url(tiger_skin_images/button_logout.gif) no-repeat;
	z-index:100;
}



/*  LINK STYLES  */

a {
	color: #333;
	text-decoration: underline;
	border:none;
}

a:hover {
	border:none;
}

a.editButton, a.button {
	display:block;
	float:left;
	font-size:10px;
	color:#333;
	vertical-align:middle;
	background:transparent url(tiger_skin_images/bg_button_left.png) no-repeat;
	text-decoration:none;
	padding:0 15px 0 15px;
	line-height:17px;
	white-space:nowrap;
	height:17px;
}

a.editButton:hover, a.button:hover {
	border-bottom: none;
	display: inherit;
	padding:0 15px 0 15px;
	text-align: inherit;
}

a.editButton:hover, a.button:hover {
	background:transparent url(tiger_skin_images/bg_button_left.png) no-repeat;
	color: inherit;
}

a.editButton:after, a.button:after {
	display:block;
	content:" " url(tiger_skin_images/bg_button_right_normal.png);
	vertical-align:middle;
	margin-top: -17px;
	margin-right:-15px;
  text-align: right;
}

.alternate a.editButton:after, .alternate a.button:after {
	content:url(tiger_skin_images/bg_button_right_alternate.png);
}

.active a.editButton:after, .active a.button:after {
	content:url(tiger_skin_images/bg_button_right_active.png);
}

a:visited {
	color: #666;
}

a:hover {
	text-decoration:none;
	color:#005BD5;
}

h2 a { color:#FFF; }

h3 a {
	color:#3D80DF;
	text-decoration:none;
}

.active a {
	color:#FFF;
}

.active a.edit, .active a.delete {
	color:#333; 
}



legend a {
	color:#3D80DF;
	text-decoration:none;
}

/*  TEXT STYLES  */
h2 {
	font-size:100%;
	font-family:inherit;
	padding:0 15px;
	
	font-weight:bold;
	color:#FFF;
	border:none;
	background:#005BD5 url(tiger_skin_images/bg_menu_on.jpg) repeat-x;
	line-height:28px;
	height:28px;
}

h2.pageTitle {
	margin:0;
}

#innercontent h2.pageTitle {
	margin:0 -1em;
}

h3 {
	margin:0 0 15px;
	padding:0;
	font-size:115%;
	color:#3D80DF;
}

p {
	padding: 0.3em;
	margin:0 0 15px;
}

.error {
	color: #B22222;
	font-weight : bold;
}

.warning {
	color:#ff9900;
	font-weight : bold;
}

.message {
	background-color:#FFFFCC;
	border: 1px solid #ffd540;
}

p.message {
	padding: 1em;
}

/*  FORM STYLES  */
/* from wp */
textarea, input, select {
	border: 1px solid #b2b2b2;
	color: #000;
	margin: 1px;
	padding: 3px;
}

fieldset label {
	background: none;
	padding: 0;
}

fieldset label:hover {
	background: inherit;
}

fieldset legend {
	padding:0;
}


fieldset.options {
	padding: 0;
}

fieldset.options legend {
	/*font-size: 100%;*/
} 

#postdiv textarea, #template textarea {
	width:100% !important;
	height:28em;
	margin-bottom:0;
}

#postdiv, #titlediv {
	margin-bottom:10px;
}

#template {
	margin-right:210px;
}



fieldset span.cat-nest {
	display: block;
	margin-left: 5px;
}
/*
legend { 
	font-weight:bold;
	font-size:110%; 
	color:#3D80DF;
}*/

.editform {
	border:none;
}


legend { 
	font-weight:bold;
	color:#3D80DF;
}

label { 
	font-weight:bold;
	/*font-size:110%; */
	color:#3D80DF;
} 

input, textarea, label, select {
	background: #fff;
	color:#333;
	margin:0;
}

select { padding:0; }

input.code {
	font-family:inherit;
}

input[type=submit], input[type=submit]:active, input[type=button], input[type=button]:active {
	display:block;
	float:left;
	font-size:11px;
	color:#333;
	background:transparent url(tiger_skin_images/bg_button.png) repeat-x 0 0;
	text-decoration:none;
	border:1px solid #CCC;
	border-width:0 1px;
	padding:0 10px;
	height:21px;
	margin:5px 10px 5px 0;
	width:auto;
	white-space:nowrap;
}

input[type=submit] + input[type=button] {
	margin-top:-1.05em;
}

.button:hover
{
	background:#FEFFBD;
	border:1px solid #fff;
}


/*  TABLE STYLES  */

table {
	margin:0 0 15px;
	border-collapse:collapse;
	width:100%;
	border:1px solid #D9D9D9;
	border-width:1px 0;
}

td {
	padding:3px 5px;
	border:1px solid #D9D9D9;
	border-width:0 1px;
	vertical-align: top;
}

th {
	height:20px;
	background:#CCC url(tiger_skin_images/bg_th.gif);
	line-height:24px;
	color:#333;
	padding:0 5px;
	font-weight:bold;
	text-align:left !important;
	border:1px solid #D9D9D9;
	border-width:0 1px;
}

th[scope=row] { background:none; padding:3px 5px; color:#333; font-weight:bold; }
br[clear=all] { display:none; }

tr.alternate, li.alternate, td.alternate, div.alternate {
	background:#EDF3FE;
}

tr.spam, td.spam, div.spam {
	background:#FFDFDF;
}

table.editform {
	border:1px solid #D9D9D9;
	border-width:1px 0;
}

.editform th, .editform td {
	border-bottom:1px solid #D9D9D9;
}

.editform th { background:#EDF3FE; }

tr.active {
	background:#3D80DF;
	color:#FFF;
	border-bottom:1px solid #FFF;
}

tr.active td {background:#3D80DF !important;}

.download {
	background: url(tiger_skin_images/24-imageset-add.png) no-repeat 0;
	line-height: 30px;
	height: 28px;
	padding-left: 30px;
}

.skinBox {
	float: left;
	border:1px solid #D9D9D9;
	padding: 1em;
	margin: 0.5em;
	margin-bottom: 3em;
}
.skinBox img {
	border:2px solid #D9D9D9;
}


#flashcontent {
    height: 100%;
}
#content {
	height: 100%;
}

